<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BookDatabase"
			 connectionString="Server=127.0.0.1;Database=myDb;Uid=root;Pwd=[D5DQYn}+goNs&amp;x7R&amp;d!/kJbE!xr^E;" />
	</connectionStrings>
	<appSettings>
		<add key="salt" value="salt"/>
	</appSettings>
</configuration>